{% extends "main.html" %}
{% load plants_tags %}

{% block title %}
    {% if plant.data.common_name%}
        {{ plant.data.common_name|titleCaps|safe}}
    {% else %}
        {{ plant.data.scientific_name|titleCaps|safe}}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col" style="min-width: 280px;">

                {% if plant.data.common_name %}
                    <h2>{{ plant.data.common_name|titleCaps|safe}}</h2>
                    <h4>{{ plant.data.scientific_name|titleCaps|safe}}</h4>
                {% else %}
                    <h2>{{ plant.data.scientific_name }}</h2>
                {% endif %}

                <p>Genus: {{ plant.data.main_species.genus }}
                <p>Family: {{ plant.data.main_species.family }}
                 -  {%if plant.data.main_species.family_common_name %}
                        {{plant.data.main_species.family_common_name}}
                    {% endif %}
                </p>


                {% comment %} <p>{{ parsed|safe|linebreaks }}</p> {% endcomment %}
            </div>
            <div class="col">
                <img class="mx-auto d-block plantImage" src="{{ plant.data.image_url }}" alt="{{ plant.data.scientific_name }}" loading="lazy"/>
            </div>
        </div>
    </div>

    {% if species.data %}
        <div class="container-fluid">
        <h3>Subspecies</h3>
            {% include 'listByParent.html' with children=species child_type=child_type %}
        </div>
    {% endif %}

{% endblock %}