{% extends "main.html" %}
{% load plants_tags %}

{% block title %}
    {% firstof genus.data.common_name genus.data.name as value %}
    {{ value|titleCaps|safe }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>{{ genus.data.name|titleCaps|safe}}</h2>
                <p>{{ parsed|safe|linebreaks }}</p>
            </div>
        </div>
    </div>

{% if plants.data %}
    {% include 'listByParent.html' with plants=plants %}
{% else %}
    <div class="container">
        <h4 class="text-center">No Plant's Found in data. </h4>
    </div>
{% endif %}

{% endblock %}