{% extends "main.html" %}
{% load plants_tags %}

{% block title %}
    {% firstof parent.data.common_name parent.data.name as value %}
    {{ value|titleCaps|safe }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col mb-2">
                <h2>{{ parent.data.name|titleCaps|safe}}</h2>
                <!--DEBUG: {{ parsed|safe|linebreaks }}-->
                
                {% if parent.data.common_name %}
                    <h4>{{ parent.data.common_name }}</h4>
                {% endif %}

            </div>
        </div>
    </div>

{% if children.data %}
    {% include 'listByParent.html' with children=children child_type=child_type %}
{% else %}
    <div class="container">
        <h4 class="text-center">No Children Found in data. </h4>
    </div>
{% endif %}

{% endblock %}