{% extends "main.html" %}

{% block title %}
    Genus List
{% endblock %}

{% block content %}

<div id="cardList" class="genusList">

    {% for genus in genus.data %}
    <div class="container cardContainer">
        <a href="genus/{{ genus.slug }}">
            <div class="card genusCard">
                <div class="card-body ">
                    <h5 class="card-title">{{ genus.name|titleCaps|safe}}</h5>
                    <p class="card-text">Family: {% firstof genus.family.name "Unknown" %}</p>
                    <p class="card-text">Family Common Name: {% firstof genus.family.common_name "None" %}</p>
                </div>
            </div>
        </a>
        {% comment %} <p>{{ genus }}</p> {% endcomment %}
    </div>
    {% endfor %}

</div>

{% include 'pagination.html' with parent=genus%}

{% endblock %}