{% extends "main.html" %}

{% block title %}
    {% if request.path == '/search/'%}
        Search Results
    {% else %}
        Plant List
    {% endif %}
{% endblock %}

{% block content %}
{% load plants_tags %}
<!--FIXME remove after development-->
<!--{{ plants }}-->
<!--{{ request.path }}-->
<div id="cardList" class="plantList">

    {% for plant in plants.data %}
    <div class="container cardContainer">
        <a href="/plants/{{ plant.slug }}">
            <div class="card plantCard">
                <div class="card-body row">
                    <div class="col">
                        {% if plant.image_url %}
                        <img class="plantListImage" src="{{ plant.image_url }}" alt="{{ plant.scientific_name }}" />
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <h5 class="card-title">
                            {% firstof  plant.common_name plant.scientific_name as value%}
                            {{ value|titleCaps|safe }}
                        </h5>
                        <p class="card-text">Scientific Name: {{ plant.scientific_name }}</p>
                        <p class="card-text">Family: {{ plant.family }}</p>
                        {% if plant.family_common_name %}
                            <p class="card-text">Family Common Name: {{ plant.family_common_name }}</p>
                        {% endif %}
                        <p class="card-text">Genus: {{ plant.genus }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% comment %} <p>{{ plant }}</p> {% endcomment %}
    </div>
    {% endfor %}

</div>

{% include 'pagination.html' with parent=plants %}

{% endblock %}