<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="/">Site</a><!--TODO add site title-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      {% if request.path == '/plants'%}
        <li class="nav-item active">
      {% else %}
        <li class="nav-item">
      {% endif %}
        <a class="nav-link" href="/plants">Plants</a>
      </li>

      {% if request.path == '/genus'%}
        <li class="nav-item active">
      {% else %}
        <li class="nav-item">
      {% endif %}
        <a class="nav-link" href="/genus">Genus</a>
      </li>

      {% if request.path == '/family'%}
        <li class="nav-item active">
      {% else %}
        <li class="nav-item">
      {% endif %}
        <a class="nav-link" href="/family">Family</a>
      </li>

      {% if request.path == '/order'%}
        <li class="nav-item active">
      {% else %}
        <li class="nav-item">
      {% endif %}
        <a class="nav-link" href="/order">Order</a>
      </li>

      {% if request.path == '/class'%}
        <li class="nav-item active">
      {% else %}
        <li class="nav-item">
      {% endif %}
        <a class="nav-link" href="/class">Class</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0 justify-content-center" action="{% url 'search'%}" method='get'>
      <input class="form-control mr-sm-2" name='q' type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>