{% load plants_tags %}

{% if child_type == 'plants' %}
    {% define "plant" as class%}
{% else %}
    {% define "genus" as class%}
{% endif %}

<div id="cardList" class="{{ class }}List">
    {% for child in children.data%}
    <div class="container cardContainer">
        <a href="/{{ child_type }}/{{ child.slug }}">
            <div class="card {{ class }}Card">
                <div class="card-body row">
                    <!--{{ child }}-->
                    {% if child.image_url %}
                    <div class="col-4">
                        <img class="plantListImage" src="{{ child.image_url }}" alt="{{ child.scientific_name }}" loading="lazy"/>
                    </div>
                    {% endif %}

                    <div class="col">
                        <h5 class="card-title">
                            {% firstof child.scientific_name child.name as value%}
                            {{ value|titleCaps|safe }}
                        </h5>

                        {% if child.common_name %}
                            <p class="card-text">Common Name: {{ child.common_name }}</p>
                        {% endif %}

                        {% if  child.scientific_name %}
                        <p class="card-text">Scientific Name: {{ child.scientific_name }}</p>
                        {% endif %}

                        {% if child.family %}
                            {% if not child.family.name %}
                                <p class="card-text">Family: {{ child.family }}</p>
                            {% endif %}
                        {% endif %}

                        {% comment %} <p>{{ child }}</p> {% endcomment %}
                        {% if child.family_common_name %}
                            <p class="card-text">Family Common Name: {{ child.family_common_name }}</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}

</div>

{% include 'pagination.html' with parent=children %}