{% extends "main.html" %}

{% block title %}
    Plant List
{% endblock %}

{% block content %}
{% comment %} {{ plants }} {% endcomment %}
<div id="cardList">

    {% for plant in plants.data %}
    <div class="container cardContainer">
        <a href="plants/{{ plant.slug }}">
            <div class="card plantCard">
                <div class="card-body row">
                    <div class="col">
                        {% if plant.image_url %}
                        <img class="plantImage" src="{{ plant.image_url }}" alt="{{ plant.data.common_name }}" />
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <h5 class="card-title">
                            {% if plant.common_name %}
                            {{ plant.common_name|title }}
                            {% else %}
                            {{ plant.scientific_name }}
                            {% endif %}
                        </h5>
                        <p class="card-text">Scientific Name: {{ plant.scientific_name }}</p>
                        <p class="card-text">Family: {{ plant.family }}</p>
                        {% if plant.family_common_name %}
                            <p class="card-text">Family Common Name: {{ plant.family_common_name }}</p>
                        {% endif %}
                        <p class="card-text">Genus: {{ plant.genus }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% comment %} <p>{{ plant }}</p> {% endcomment %}
    </div>
    {% endfor %}

</div>

<div class="container d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="{{ plants.links.first }}">First</a></li>
            <li class="page-item"><a class="page-link" href="{{ plants.links.prev }}">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="{{ plants.links.self }}">Current</a></li>
            <li class="page-item"><a class="page-link" href="{{ plants.links.next }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="{{ plants.links.last }}">Last</a></li>
        </ul>
    </nav>
</div>
{% endblock %}